<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
              Yo lo importo por ti
            </a>
            <a href="{% url 'login' %}" class="navbar-brand">Iniciar sesíon</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h3>Redragon Kumara K552 + Centrophorus M601 + Archeleon M (K552-BA)</h3>
        </div>

        <div class="row">
            <img src="{% static 'core/img/combo_teclado.png' %}" alt="">
        </div>
        <div class="precio">
        <div class="card-body">
          <h1 class="card-text">$10.990</h1>
        </div>
        <div class="envios">
          <ul><h3>Forma de entrega</h3>
            <li>Despacho a domicilio</li>
            <li>Retiro en agencia</li>
          </ul>
        </div>
        <div class="contacto" align="left">
          <p><strong>¿Dudas? Contáctanos a</strong><a href="#" target="_blank" style="color: #000000;"><strong><img src="https://www.freepnglogos.com/uploads/whatsapp-logo-light-green-png-0.png" width="30" alt="whatsapp-logo-light-green-png-0.png" />+569 12341234</strong></a></p>
        </div>
        </div>
        <div class="descripcion">

        </div>
        <div class="desc2" align="center">
          <h3>Especificaciones</h3>
          <table cellspacing="0" cellpadding="0" dir="ltr" border="1"><colgroup><col width="267" /><col width="420" /></colgroup>
          <tbody>
          <tr bgcolor=lightgray>
          <td><strong>Color</strong></td>
          <td>Negro</td>
          </tr>
          <tr>
          <td><strong>Marca</strong></td>
          <td>Redragon</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Teclado</strong></td>
          <td>Kumara K552</td>
          </tr>
          <tr>
          <td><strong>Tipo Teclado</strong></td>
          <td>Mecánicos</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Tipo Switch</strong></td>
          <td>Outemu Blue</td>
          <tr>
          <tr>
          <td><strong>Mouse</strong></td>
          <td>Centrophorus M601</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Orientación</strong></td>
          <td>Ambidiestro</td>
          </tr>
          <tr>
          <td><strong>Cable</strong></td>
          <td>Mallado, 1.8 m + USB Enchapado en oro</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Mousepad</strong></td>
          <td>Archelon M P001</td>
          </tr>
          <tr>
          <td><strong>Grosor</strong></td>
          <td>3 mm</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Tipo Deslizamiento</strong></td>
          <td>Tela entrelazada fibras de seda que garantiza máximo deslizamiento, fondo de caucho, antideslizante y adaptable a cualquier superficie.</td>
          </tr>
          <td><strong>Dimensiones del paquete</strong></td>
          <td>38 x 19 x 25,8 cm</td>
          </tr>
          <tr bgcolor= lightgray>
          <td><strong>Peso del paquete</strong></td>
          <td>2,3 kg</td>
          </tr>
          </tbody>
          </table>
        </div>
        <br>
      <div class="valoraciones" align="center">
        <h3>Valoraciones</h3>
        <img src="#" width="30" height="30" alt="Profileimage">
        <p>Onur</p>
        <p>Buen producto</p>
        <hr>
        <img src="#" width="30" height="30" alt="Profileimage">
        <p>Luian</p>
        <p>Excelente</p>
        <hr>
        <img src="#" width="30" height="30" alt="Profileimage">
        <p>Esteban</p>
        <p>Me sirve para mi hijo en España</p>
      </div>
      <br>
      <div class="otros">
        <h3>Otros productos</h3>
        <table>
          <tr>
            <th><img class="ima" width=400px src="{% static 'core/img/mousepad.jpg' %}" class="card-img-top" alt="..."><div align="center"><p>Mousepad Razer</p><p class="card-text"><a href="{% url 'mousepad' %}">$10.990</a></p></div></th>
            <th><img class="ima" width=400px src="{% static 'core/img/mousepad.jpg' %}" class="card-img-top" alt="..."><div align="center"><p>Mousepad Razer</p><p class="card-text"><a href="{% url 'mousepad' %}">$10.990</a></p></div></th>
            <th><img class="ima" width=400px src="{% static 'core/img/mousepad.jpg' %}" class="card-img-top" alt="..."><div align="center"><p>Mousepad Razer</p><p class="card-text"><a href="{% url 'mousepad' %}">$10.990</a></p></div></th>
          </tr>
        </table>
      </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>