<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form method="post" action="" id="formulario">
    <center>
        <div class="container">
            <h1>Pagina de login</h1>
            {% csrf_token %}
            <div class="form-group">
                <table cellpadding="5" cellspacing="2" border="1">
                    <thead>
                        <tr>
                            <th colspan="2" align="center">Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ingrese su correo</td>
                            <td><input type="Email" name="email" placeholder="Ingrese su correo" required></td>
                        </tr>
                        <tr>
                            <td>Contraseña</td>
                            <td><input type="password" name="psw" placeholder="Ingrese su contraseña" required></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button type="submit" class="btn btn-primary">login</button>
                                <button type="reset" class="btn btn-danger">Cancelar</button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </center>
</form>
</body>
</html>