.row{
    padding: 10px;
    margin: 10px;
}

img{
    height: 150px;
    width: 280px;
}

h1{
    color: brown;
}

#titulo{
    display: flex;
    justify-content:center;
    padding: 10px;
    margin: 5px;
}

#contenedor_tarjetas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
}

.textocarta{
    font-size: 1em;
    color: black;
}

.enlaceprecio{
    color: red;
}

a{
    color: brown;
    font-size: 30px;
}

.botones{
    margin: 10px;
    padding: 10px;
}

.pd1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.impd{
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px black;
}

.imgprod{
    height: 20em;
    width: 40em;
}

